<h1>Listing donors</h1>

<table>
  <tr>
    <th>Donor</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donors.each do |donor| %>
  <tr>
    <td><%= donor.donor_id %></td>
    <td><%= donor.last_name %></td>
    <td><%= donor.first_name %></td>
    <td><%= donor.email %></td>
    <td><%= link_to 'Show', donor %></td>
    <td><%= link_to 'Edit', edit_donor_path(donor) %></td>
    <td><%= link_to 'Destroy', donor, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Donor', new_donor_path %>
