<p id="notice"><%= notice %></p>

<p>
  <b>Donor:</b>
  <%= @donor.donor_id %>
</p>

<p>
  <b>Last name:</b>
  <%= @donor.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @donor.first_name %>
</p>

<p>
  <b>Email:</b>
  <%= @donor.email %>
</p>


<%= link_to 'Edit', edit_donor_path(@donor) %> |
<%= link_to 'Back', donors_path %>
