<h1>Listing recipients</h1>

<table>
  <tr>
    <th>Recipient</th>
    <th>Last name</th>
    <th>First name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @recipients.each do |recipient| %>
  <tr>
    <td><%= recipient.recipient_id %></td>
    <td><%= recipient.last_name %></td>
    <td><%= recipient.first_name %></td>
    <td><%= recipient.address %></td>
    <td><%= link_to 'Show', recipient %></td>
    <td><%= link_to 'Edit', edit_recipient_path(recipient) %></td>
    <td><%= link_to 'Destroy', recipient, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Recipient', new_recipient_path %>
