<p id="notice"><%= notice %></p>

<p>
  <b>Recipient:</b>
  <%= @recipient.recipient_id %>
</p>

<p>
  <b>Last name:</b>
  <%= @recipient.last_name %>
</p>

<p>
  <b>First name:</b>
  <%= @recipient.first_name %>
</p>

<p>
  <b>Address:</b>
  <%= @recipient.address %>
</p>


<%= link_to 'Edit', edit_recipient_path(@recipient) %> |
<%= link_to 'Back', recipients_path %>
