<h1>Listing donations</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Donor</th>
    <th>Recipient</th>
    <th>Total</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.date %></td>
    <td><%= donation.donor.last_name %></td>
    <td><%= donation.recipient.first_name %></td>
    <td><%= donation.total %></td>
    <td><%= link_to 'Show', donation %></td>
    <td><%= link_to 'Edit', edit_donation_path(donation) %></td>
    <td><%= link_to 'Destroy', donation, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<%= Donation.donation_total %>

<br />

<%= link_to 'New Donation', new_donation_path %>
