<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @donation.date %>
</p>

<p>
  <b>Donor:</b>
  <%= @donation.donor.last_name %>
</p>

<p>
  <b>Recipient:</b>
  <%= @donation.recipient.first_name %>
</p>

<p>
  <b>Total:</b>
  <%= @donation.total %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
